L1/filmer.dtd

<!--
superheromovies
    movie
        name
            caption
        when
            year
        length
            minutes
        description
            attr: url
        imdb
            points
-->

<!ELEMENT superheromovies (movie+)>
    <!ELEMENT movie (name, when, length, imdb)>
        <!ELEMENT name (#PCDATA)>
        <!ELEMENT when (#PCDATA)>
        <!ELEMENT length (#PCDATA)>
        <!ELEMENT imdb EMPTY>
            <!ATTLIST imdb url CDATA #REQUIRED>